<!DOCTYPE html>
<html lang="en" class="bg-[#0A192F]">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <layoutPage></layoutPage>
  <div class="ml-[14rem] ">
    <h1 class="text-lg font-thin text-gray-900 dark:text-white mb-2"> Hello! My name is </h1>
    <h1 class="text-6xl font-sans  font-bold text-[#CCD6F6] mb-1"> Adoni Martinez</h1>
    <h2 class="text-6xl font-sans  font-bold text-[#8892b0] mb-5"> Full Stack Developer</h2>
    <div>
       <p class="text-[#6390B0]">
          Tengo 
          <span class="text-white"> 1 años de experiencia </span> en desarrollando sistemas en Angular y c# .Net <br>
          Mi principal enfoque es implementar nuevas soluciones para  <br> satisfacer diversas necesidades. Además, tengo experiencia  <br> en trabajar con tecnologías de transacciones, especialmente la implementación <br> con CardNet. Mi objetivo es utilizar mis habilidades y experiencia <br> para crear soluciones innovadoras y eficientes que impulsen el 
          <br> éxito de mis clientes y proyectos.
       </p>
    </div>
   <section class="mt-[10rem]">
     <AboutComponent></AboutComponent>
   </section>

   <section class="text-center justify-items-center items-center">
     <experienceComponent></experienceComponent>
   </section>
  </div>
   

</body>
</html>